[submodule "CCLab"]
	path = CCLab
	url = https://github.com/aimeehuang0/CCLab
[submodule "cclab2016"]
	path = cclab2016
	url = https://github.com/gretaz0623/cclab2016
[submodule "wwww"]
	path = wwww
	url = https://github.com/hayum/wwww
[submodule "CClab-2016"]
	path = CClab-2016
	url = https://github.com/zhanj020/CClab-2016
[submodule "Karl_CClab_2016"]
	path = Karl_CClab_2016
	url = git@github.com:wangs515/Karl_CClab_2016.git
