[submodule "Karl_CClab_2016"]
	path = Karl_CClab_2016
	url = git@github.com:wangs515/Karl_CClab_2016.git
[submodule "Aaron_CCLab_2016"]
	path = Aaron_CCLab_2016
	url = https://github.com/leea666/Aaron_CCLab_2016
[submodule "Noshin_CClab_2016"]
	path = Noshin_CClab_2016
	url = https://github.com/nnisa/Noshin_CClab_2016
[submodule "SisiMa_CClab_2016"]
	path = SisiMa_CClab_2016
	url = https://github.com/sisima/SisiMa_CClab_2016
[submodule "XiaolingChen_CClab_2016"]
	path = XiaolingChen_CClab_2016
	url = https://github.com/SherlinC/XiaolingChen_CClab_2016
[submodule "Aimee_CCLab_2016"]
	path = Aimee_CCLab_2016
	url = https://github.com/aimeehuang0/Aimee_CCLab_2016
[submodule "Hanyu_Zhao_CClab_2016"]
	path = Hanyu_Zhao_CClab_2016
	url = https://github.com/gretaz0623/Hanyu_Zhao_CClab_2016
[submodule "JialuZhang_CClab_2016"]
	path = JialuZhang_CClab_2016
	url = https://github.com/zhanj020/JialuZhang_CClab_2016
[submodule "Shuang_CCLab_2016"]
	path = Shuang_CCLab_2016
	url = https://github.com/hayum/Shuang_CCLab_2016
[submodule "Seung_ho_Jung_CClab2016"]
	path = Seung_ho_Jung_CClab2016
	url = https://github.com/jungseungho1/Seung_ho_Jung_CClab2016
