<!DOCTYPE html>
<head>
	<title>The Psychic Duck</title>
	<link rel="stylesheet" type="text/css" href="assets/style/style.css">
</head>
<body>

<div id="wrapper">
	<h1>The Psychic Duck</h1>

	<!-- Speech Bubble -->
	<p id="speech">Ask me yes or no questions, yo!</p>

	<!-- Duck Face -->
	<div id="face">
	<div id="eyes"></div>
	<div id="beak"></div>
	</div>
			
	<!-- Ask Question Form -->	
	<div id="questionForm">
	<form>
	<input type="text" id="question" placeholder="Type your question, pleeb." />
	<div id="submit">Ask Away</div>
	</form>
	</div>
</div>
	
<!-- Linking Scripts -->
<script src="assets/js/jquery-3.1.0.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>